/* REGOLE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

/* REGOLE UTILITY
.container {
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
.row {
  display: flex;
} */

/* PER VEDERE I CONTAINER */
/* .debug * {
  min-height: 50px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.236);
  border: 2px dashed red;
} */

/* HEADER */
.content-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content-header h4 {
  font-family: "Cinzel", serif;
  font-weight: 700;
}
.content-header .logo {
  height: 7rem;
}
/* .content-header img {
  border-right: 1px solid black;
}
.icons {
  border-left: 1px solid black;
} */
.icons i:first-child {
  margin-right: 1rem;
}

/* HERO */
.background-hero video {
  width: 100%;
}
/* PRODUCTS */
.content-products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* .content-products h3 {
} */

/* PRODUCTS */
/* .content-products {
  padding: 3rem 0;
  text-align: center;
}
.content-products .row {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
} */
/* .content-services h2,
.content-services h3 {
} */

/* .content-products .col {
  width: calc(100% / 3);
} */

/* .content-products .col img {
  height: 20rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
} */
/* LOCATION
.content-locations {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 80px;
}
.locations-part1 {
  width: 50%;
  text-align: center;
}
.locations-part1 img {
  padding: 2rem;
  height: 50rem;
}
.locations-part2 {
  width: 50%;
  padding-right: 20px;
  text-align: center;
}

.locations-part2 button {
  background-color: white;
  color: #2e2827;
  border: 1px solid currentColor;
  padding: 0.5rem;
  margin-top: 1rem;
}
.locations-part2 p {
  padding-bottom: 20px;
  padding-top: 20px;
} */

/* FORM */
.content-form {
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.text-form {
  text-align: center;
}
.text-form h2 {
  font-family: "Cinzel", serif;
  font-weight: 600;
  margin: 1rem;
}
.text-form p {
  color: black;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.2rem;
}
.container-form {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: "EB Garamond", serif;
  font-weight: 400;
}

.row-columns {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.label-class {
  font-weight: bold;
  margin-bottom: 5px;
}

.f-input {
  padding: 10px;
  border: none;
  border: 1px solid rgb(136, 136, 136);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.f-input:hover {
  transform: scale(1.03);
}

.f-input:focus {
  transform: scale(1);

  outline: 2px solid rgb(0, 0, 0);
}

.area-f-input {
  min-height: 100px;
}

.btn {
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  cursor: pointer;
  align-self: center;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  transform: scale(1.03);
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px solid black;
}

.btn:active {
  transform: scale(1);
  box-shadow: 1px 1px 3px black;
}

@media (max-width: 600px) {
  .container {
    margin: 10px;
  }

  .row-columns {
    flex-direction: column;
  }
}

/* FOOTER */
.background-footer {
  background-color: #000000;
}
.content-footer {
  color: white;
}
.distance2 {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.col-1-2 {
  width: calc(100% / 2);
  text-align: center;
}
.col-1-2 h3 {
  font-family: "Cinzel", serif;
  font-weight: 600;
}
.col-1-2 nav {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
.col-1-2 nav a {
  width: 100%;
  padding-top: 8px;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 1.2rem;
  padding-bottom: 8px;
  color: #acb2b0;
  font-size: small;
  line-height: 17px;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
  .content-products img {
    width: 8rem;
  }
  .text-form p {
    font-size: 1rem;
  }
  .text-form h2 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 769px) {
  .content-products img {
    width: 14rem;
  }
}
@media screen and (min-width: 992px) {
  .content-products img {
    width: 20rem;
  }
}

/* GRIGLIA DI COLONNE */
/* .container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;

  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

[class*="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.col-1-2 {
  width: calc(100% / 2);
} */
