/* REGOLE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

/* REGOLE UTILITY
.container {
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
.row {
  display: flex;
} */

/* PER VEDERE I CONTAINER */
/* .debug * {
  min-height: 50px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.236);
  border: 2px dashed red;
} */

/* HEADER */
.content-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content-header .logo {
  height: 7rem;
}
/* .content-header img {
  border-right: 1px solid black;
}
.icons {
  border-left: 1px solid black;
} */
.icons i:first-child {
  margin-right: 1rem;
}

/* HERO */
.background-hero video {
  width: 100%;
}
.background-hero {
  background: url(./imgs/logo.webp);
}

/* FOOTER */
.background-footer {
  background-color: #000000;
}
.content-footer {
  color: white;
}
.content-footer p {
  color: #7b797b;
}
.content-footer p i {
  margin-right: 10px;
  margin-left: 0;
}
.content-footer span:last-child {
  margin-left: 5px;
}
.content-footer hr {
  margin-bottom: 30px;
  border: 0.5px solid #f3f3f3;
  width: 90px;
}
.distance2 {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.col-1-2 {
  width: calc(100% / 2);
  text-align: center;
}
.col-1-2 nav {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
.col-1-2 nav a {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #acb2b0;
  font-size: small;
  line-height: 17px;
}
/* GRIGLIA DI COLONNE */
/* .container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;

  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

[class*="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.col-1-2 {
  width: calc(100% / 2);
} */
